<div class="container">
    <b>Feedback</b>

    {{getModel()}}

    <form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel"
                   required>

            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
                Name is required
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Priority</label>

            <select class="form-control" id="priority" name="priority" [(ngModel)]="model.priority" required>
                <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <input type="text" class="form-control" id="message" name="message" [(ngModel)]="model.message" required>
        </div>

        <div class="form-group">
            <label for="nick">Nick</label>
            <input type="text" class="form-control" name="nick" [(ngModel)]="model.nick" id="nick">
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!feedbackForm.form.valid">Submit</button>
    </form>
</div>